
/* Won't work - needs width and height */
.img-radial-blur::after {
  content: '';
  opacity: 0.2;
  background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.00) 0%, #000 100%);
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .contactimage {
    width: 552px !important;
  }
}

.w-lightbox-container {
  z-index: 11000 !important;
}
.w-lightbox-backdrop {
  z-index: 11000 !important;
}

.w-lightbox-strip {
  background-color: transparent;
}

#portal a {
  cursor: e-resize !important;
}

a.portalcursor {
  cursor: e-resize !important;
}
