.w-nav-link.w--current {
  color: white !important;
}

a.mapboxgl-ctrl-logo {
  display:none !important;
}

.captionblock b {
  color: white;
  font-size: 17px;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.17px;
}

.captionblock {
  text-transform: uppercase;
}
