.w-nav-link.w--current {
  color: white !important;
}

a.mapboxgl-ctrl-logo {
  display:none !important;
}

.captionblock b {
  color: white;
  font-size: 17px;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.17px;
}

.upline {
  color: var(--Grey-50B, #878788) !important;
}
.upline b {
  color: white !important;
}

.captionblock {
  text-transform: uppercase;
  color: white;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.75px;
}

.narrativetemplate .collection-list-2 > div:nth-child(4) {
  grid-column: span 3;
  width: 100%;
}

.narrativetemplate  .collection-list-2 > div:nth-child(8) {
  grid-column: span 3;
  width: 100%;
}

.narrativetemplate .collection-list-2 > div:nth-child(12) {
  grid-column: span 3;
  width: 100%;
}

.uniformtemplate .collection-list-2 > div:nth-child(4) {
  grid-column: span 3;
  width: 100%;
}

.uniformtemplate .collection-list-2 > div:nth-child(5) {
  grid-column: span 2 !important;
}
.uniformtemplate .collection-list-2 > div:nth-child(5) {
  grid-column: span 1;
}

.uniformtemplate .collection-list-2 > div:nth-child(6) {
  grid-column: span 3;
  width: 100%;
}
