.mapboxgl-map {
	font-family: "Proximanova" !important;
 }

.mapboxgl-ctrl-compass {
	display: none !important;
}
.mapboxgl-ctrl-top-right .mapboxgl-ctrl {
	margin: 0px 10px 0px 10px;
}
.mapboxgl-ctrl-group button {
	background-color: #878788 !important;
}
.mapboxgl-ctrl-icon {
    filter: invert(1);
}
/*style map popups*/
.mapboxgl-popup-content {
	pointer-events: auto;
  border-radius: 4px;
  box-shadow: none;
  padding: 10px 10px;
  background-color: black;
}
/*popup bottom arrow color*/
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
    border-top-color: black;
}
.w-dyn-list .w-col-4:nth-child(odd) {
	max-width: 10%;
  -webkit-mask: -webkit-linear-gradient(black, transparent 30%, black);
  -webkit-mask: linear-gradient(black, transparent 30%, black);
  -webkit-filter: blur(3px);
}
.w-dyn-list .w-col-4:nth-child(odd) img {
	min-height: 800px;
}
.w-dyn-list .w-col-4:nth-child(even) {
	width: 80% !important;
  min-height: 800px;
}
.w-dyn-list .w-col-4:nth-child(even) img {
	min-width: 800px !important;
  object-fit: fill;
}

.poppedup-latlong {
  font-size: 10px;
  line-height: 10px;
}

.mapboxgl-popup-content .w-layout-layout {
  grid-row-gap: 0px !important;
}
