body .w-nav-link.w--current {
  color: white !important;
}

.w-input {
  color: #B5B5B5;
}

.fs-rangeslider_fill:hover {
  cursor:pointer;
}

a.mapboxgl-ctrl-logo {
  display:none !important;
}

.w-lightbox-close {
  z-index: 999999;
}

.captionblock b {
  color: white;
  font-size: 17px;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.17px;
}

.upline {
  color: var(--Grey-50B, #878788) !important;
}
.upline b {
  color: white !important;
}

.downline {
  color: var(--Grey-50B, #878788) !important;
}
.downline b {
  color: white !important;
}

.captionblock.downline {
  margin-left: 20px;
}

.downlineline {
  margin-top: 16px;
  margin-bottom: 16px;
  width: 1px;
  height: 56px;
  background-color: var(--grey-50b);
  margin-left: 16px;
}

.reverse {
  flex-direction: column-reverse;
}

.captionblock {
  text-transform: uppercase;
  color: white;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.75px;
}

.w-lightbox-strip {
  background-color: #101011;
    line-height: normal;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: auto;
    overflow-y: hidden;
    min-height: 100px;
}

figcaption {
  margin-top: 25px;
}

.w-lightbox-group {
  height: 100% !important;
}

.collection-list-2 {
  /* grid-auto-columns: 2fr !important; */
}

/*Narrative*/

@media all and (min-width: 600px) {

  .narrativetemplate .collection-list-2 > div {
    grid-column: span 2;
    width: 100%;
  }

  .narrativetemplate .collection-list-2 > div:nth-child(4) {
    grid-column: span 6;
    width: 100%;
  }

  .narrativetemplate .collection-list-2 > div:nth-child(5) {
    grid-column: span 3;
    width: 100%;
  }
  .narrativetemplate .collection-list-2 > div:nth-child(6) {
    grid-column: span 3;
    width: 100%;
  }
  .narrativetemplate .collection-list-2 > div:nth-child(7) {
    grid-column: span 2;
    width: 100%;
  }
  .narrativetemplate .collection-list-2 > div:nth-child(8) {
    grid-column: span 2;
    width: 100%;
  }
  .narrativetemplate .collection-list-2 > div:nth-child(9) {
    grid-column: span 2;
    width: 100%;
  }
  .narrativetemplate .collection-list-2 > div:nth-child(10) {
    grid-column: span 6;
    width: 100%;
  }
  .narrativetemplate .collection-list-2 > div:nth-child(11) {
    grid-column: span 3;
    width: 100%;
  }
  .narrativetemplate .collection-list-2 > div:nth-child(12) {
    grid-column: span 3;
    width: 100%;
  }
  .narrativetemplate .collection-list-2 > div:nth-child(13) {
    grid-column: span 3;
    width: 100%;
  }
  .narrativetemplate .collection-list-2 > div:nth-child(14) {
    grid-column: span 3;
    width: 100%;
  }
  .narrativetemplate .collection-list-2 > div:nth-child(18) {
    grid-column: span 3;
    width: 100%;
  }
  .narrativetemplate .collection-list-2 > div:nth-child(19) {
    grid-column: span 3;
    width: 100%;
  }
  .narrativetemplate .collection-list-2 > div:nth-child(20) {
    grid-column: span 6;
    width: 100%;
  }
  .narrativetemplate .collection-list-2 > div:nth-child(21) {
    grid-column: span 6;
    width: 100%;
  }
  .narrativetemplate .collection-list-2 > div:nth-child(25) {
    grid-column: span 6;
    width: 100%;
  }
}


/*Uniform*/

@media all and (min-width: 600px) {
  .uniformtemplate .collection-list-2 > div {
    grid-column: span 2;
    width: 100%;
  }

  .uniformtemplate .collection-list-2 > div:nth-child(4) {
    grid-column: span 3;
    width: 100%;
  }
  .uniformtemplate .collection-list-2 > div:nth-child(5) {
    grid-column: span 3;
    width: 100%;
  }

  .uniformtemplate .collection-list-2 > div:nth-child(9) {
    grid-column: span 3;
    width: 100%;
  }

  .uniformtemplate .collection-list-2 > div:nth-child(10) {
    grid-column: span 3;
    width: 100%;
  }

  .uniformtemplate .collection-list-2 > div:nth-child(17) {
    grid-column: span 3;
    width: 100%;
  }

  .uniformtemplate .collection-list-2 > div:nth-child(18) {
    grid-column: span 3;
    width: 100%;
  }
}

.singlecolumntemplate .collection-list-2 > div {
  grid-column: span 6;
  width: 100%;
}

.singlecolumntemplate .collection-list-2 > .portraitImage {
  grid-column: span 3;
  width: 100%;
}


.div-block-19 {
  z-index: 9000;
}

.uniformlarge {
  z-index: 9000;
}

.uniformtemplate .captionblock.upline {
  margin-top: 92px !important;
}

.singlecolumntemplate .captionblock.upline {
  margin-top: 92px !important;
}


@media all and (max-width: 600px) {
  .narrativetemplate .collection-list-2 > div {
    grid-column: span 6;
    width: 100%;
  }
  .uniformtemplate .collection-list-2 > div {
    grid-column: span 6;
    width: 100%;
  }

  .nextjourney {
    display: none;
  }
  .mapboxgl-map {
    display: none;
  }
}

@media all and (min-width: 600px) {
  .div-block-27 {
    margin-left: 98px !important;
  }
}
